<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">Login</h2>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "e-mail" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "password" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Login", class: :form__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>


    
  </body>
</html>
