<%= form_with model: @post, local: true do |form|%>
  <br>

  <div class="form-floating">
    <%= form.text_field :title, class: "form-control", id: "floatingInput", placeholder: "Title" %>
    <%= form.label :title, "Title", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.text_area :content, class: "form-control", id: "floatingInput", placeholder: "Content" %>
    <%= form.label :content, "Content", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.file_field :image, class: "form-control", id:"exampleFormControlFile1" %>
    <%= form.label :image, "Image", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.date_field :shooting_date, class: "form-control", id: "floatingInput", placeholder: "撮影日" %>
    <%= form.label :shooting_date, "撮影日", class: "form-label", for: "floatingInput" %>
  </div>

  <br>

  <p class="h3 mt-5 mb-4 fw-normal">gmap</p>

  <div class="form-floating">
    <%= form.text_field :address, id: 'address', class: "form-control", id: "floatingInput", placeholder: "Address" %>
    <%= form.label :address, "Address", class: "form-label", for: "floatingInput" %>
    <br>
    <%= button_tag "Search", class: "btn btn-secondary", id: 'search-btn' %>
  </div>

  <br>

  <div id='map'></div>

  <div class="form-floating">
    <%= form.text_field :latitude, class: "form-control", id: 'latitude' %>
    <%= form.label :latitude, class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :longitude, class: "form-control", id: 'longitude' %>
    <%= form.label :longitude, class: "form-label", for: "floatingInput" %>
  </div>



  <style>
  #map{
    height: 400px;
  }
  </style>

<script>
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 0, lng: 0 },
    zoom: 4,
  });

  const geocoder = new google.maps.Geocoder();
  const marker = new google.maps.Marker({
    map: map,
    position: { lat: 0, lng: 0 },
    draggable: true,
  });

  google.maps.event.addListener(marker, "dragend", function (event) {
    document.getElementById("latitude").value = marker.getPosition().lat();
    document.getElementById("longitude").value = marker.getPosition().lng();
  });

  document.getElementById('search-btn').addEventListener('click', function () {
    geocodeAddress(geocoder, map);
  });

  function geocodeAddress(geocoder, resultsMap) {
    const address = document.getElementById('address').value;

    geocoder.geocode({ 'address': address }, function (results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        marker.setPosition(results[0].geometry.location);
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>

  <br/>
  <%= form.submit "投稿する", class: "btn btn-lg btn-primary" %>
<% end %>