<%= form_with model: @post, local: true do |form|%>
  <br>

  <!-- 投稿詳細入力フォーム -->
  <div class="form-floating">
    <%= form.text_field :title, class: "form-control", id: "floatingInput", placeholder: "Title" %>
    <%= form.label :title, "Title", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.text_area :content, class: "form-control", id: "floatingInput", placeholder: "Content" %>
    <%= form.label :content, "Content", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.file_field :image, class: "form-control", id:"exampleFormControlFile1" %>
    <%= form.label :image, "Image", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.date_field :shooting_date, class: "form-control", id: "floatingInput", placeholder: "撮影日" %>
    <%= form.label :shooting_date, "Shooting Date", class: "form-label", for: "floatingInput" %>
  </div>

  <!-- /投稿詳細入力フォーム -->

  <br>

  <!-- 位置情報入力フォーム -->

  <p class="h3 mt-5 mb-4 fw-normal">Registration of Spot</p>

  <div class="input-group">
    <input id="address" type="text" class="form-control" placeholder="Enter Spot Address" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="codeAddress()">Seaech</button>
  </div>

  <br>

  <div id='map'></div>

  <br>

  <input type="button" value="Drop a Pin in the Center of the Map" class="btn btn btn-secondary mb-4" id="drop_pin">

  <div class="input-group mb-3">
    <div class="form-floating">
      <%= form.text_field :latitude, class: "form-control", id: 'latitude', readonly: true %>
      <%= form.label :latitude, class: "form-label", for: "floatingInput" %>
    </div>
    <div class="form-floating">
      <%= form.text_field :longitude, class: "form-control", id: 'longitude', readonly: true %>
      <%= form.label :longitude, class: "form-label", for: "floatingInput" %>
    </div>
  </div>

  <br/>
  <%= form.submit "投稿する", class: "btn btn-lg btn-success mt-3 mb-3" %>
<% end %>

  <!-- /位置情報入力フォーム -->

  <!-- Googlemapスクリプト -->

  <style>
  #map{
    height: 470px;
  }
  </style>

<script>
let map;
let geocoder;
let marker;

function initMap() {
  geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 35.685175, lng: 139.7527995 },
    zoom: 13,
  });

  // drop_pinボタンのクリックイベントを追加
  document.getElementById('drop_pin').addEventListener('click', dropPin);
}

function codeAddress() {
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode({ 'address': inputAddress }, function (results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);

      // 緯度経度情報を取得しフォームに自動入力
      const latitude = results[0].geometry.location.lat();
      const longitude = results[0].geometry.location.lng();
      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;

      // 既存のマーカーを削除
      if (marker) {
        marker.setMap(null);
      }

      // 新しいマーカーを作成
      marker = new google.maps.Marker({
        position: results[0].geometry.location,
        map: map
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

function dropPin() {
  const center = map.getCenter();
  const lat = center.lat();
  const lng = center.lng();

  // 既存のマーカーを削除
  if (marker) {
    marker.setMap(null);
  }

  // 新しいマーカーを作成
  marker = new google.maps.Marker({
    position: { lat: lat, lng: lng },
    map: map
  });

  // 緯度経度情報を更新
  document.getElementById('latitude').value = lat;
  document.getElementById('longitude').value = lng;
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<!-- /Googlemapスクリプト -->