<%= form_with model: @post, local: true do |form|%>
  <br>

  <div class="form-floating">
    <%= form.text_field :title, class: "form-control", id: "floatingInput", placeholder: "Title" %>
    <%= form.label :title, "Title", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.text_area :content, class: "form-control", id: "floatingInput", placeholder: "Content" %>
    <%= form.label :content, "Content", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.file_field :image, class: "form-control", id:"exampleFormControlFile1" %>
    <%= form.label :image, "Image", class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.date_field :shooting_date, class: "form-control", id: "floatingInput", placeholder: "撮影日" %>
    <%= form.label :shooting_date, "撮影日", class: "form-label", for: "floatingInput" %>
  </div>

  <br>

  <p class="h3 mt-5 mb-3 fw-normal">Encode Spot</p>
  <small>Enter Address</small>

  <div class="form-floating mt-1">
    <div class="row">
      <div class="col-11">
        <input id="address" type="textbox" class="form-control">
      </div>
      <div class="col-1">
        <input type="button" value="Encode" class="btn btn-sm btn-secondary" onclick="codeAddress()">
      </div>
    </div>
  </div>

  <br>

  <div id='map'></div>

  <br>

  <div class="form-floating">
    <%= form.text_field :latitude, class: "form-control", id: 'latitude', readonly: true %>
    <%= form.label :latitude, class: "form-label", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :longitude, class: "form-control", id: 'longitude', readonly: true %>
    <%= form.label :longitude, class: "form-label", for: "floatingInput" %>
  </div>



  <style>
  #map{
    height: 470px;
  }
  </style>

<script>
let map
let geocoder

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      // 緯度経度情報を取得しフォームに自動入力
      const latitude = results[0].geometry.location.lat();
      const longitude = results[0].geometry.location.lng();
      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>

  <br/>
  <%= form.submit "投稿する", class: "btn btn-lg btn-success" %>
<% end %>