<% @posts.each do |post| %>
  <div class="col">
    <div class="card shadow-sm">
      <%= link_to post_path(post.id),data: {"turbolinks" => false} do %>
        <%= image_tag post.image, class: "bd-placeholder-img card-img-top" %>
      <% end %>

      <div class="card-body">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= post.content %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"></div>
          <small class="text-muted">
            <span>
              Created <%= time_ago_in_words(post.created_at) %> ago.
            </span>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>