<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @posts.each do |post| %>
        <div class="col">
          <div class="card shadow-sm">
            <div class="img-fluid">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, class: "bd-placeholder-img card-img-top h-100" %>
              <% end %>
            </div>

            <div class="card-body">
              <h4 class="card-title"><%= post.title %></h4>
              <p class="card-text"><%= post.content %></p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="small">
                  views
                </div>
                <div class="text-muted">
                  <span>
                    投稿日 <%= post.created_at.strftime('%Y/%m/%d') %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>