<main class="px-3">

<!-- 投稿メイン -->

  <div class="container text-center">
    <div class="row">
      <div class="col-12 mt-4 " style="max-height: 700px">
        <%= image_tag @post.image ,class:"img-fluid mh-100" %>
      </div>
    </div>
  </div>

    <br>

  <div class="container text-center mb-5">
    <div class="">
      <p class="fs-2 fw-bold mt-4"><%= @post.title %></p>
    </div>

    <br>

    <div class="d-flex justify-content-center">
      <div class>
        <p class="fs-5 fw-bold">撮影日</p>
        <p class="fs-6"><%= @post.shooting_date.strftime('%Y/%m/%d') %></p>
      </div>
      <div class="mx-2">　</div>
      <div class>
        <p class="fs-5 fw-bold">投稿者</p>
        <p class="fs-6"><%= link_to "#{@post.user.nickname}", user_path(@post.user), class:"text-decoration-none fw-bold" %></p>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <span class="fs-5">
      <% @post.tags.each do |tag| %>
        <%= link_to "##{tag.tag_name}", posts_path(tag_id: tag.id), class:"text-decoration-none fw-bold" %>
      <% end %>
    </span>
  </div>

    <br>

  <div class="container d-flex justify-content-center">
    <div class="row w-75">
      <div class="border-top">
        <p class="fs-5  mt-3"><%= @post.content %></p>
      </div>
    </div>
  </div>

  <br>

<!-- Edit/Deleteボタン -->

  <div class="text-center">
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to edit_post_path(@post.id) do %>
        <button type="button" class="btn btn-secondary btn-lg">Edit</button>
      <% end %>
      <%= link_to post_path(@post.id), method: :delete do %>
        <button type="button" class="btn btn-lg btn-danger">Delete</button>
      <% end %>
    <% end %>
  </div>

<!-- /Edit/Deleteボタン -->

<!-- PREV/NEXTボタン -->

  <div class="container d-flex justify-content-between mt-5">
    <div class>
      <% if @post.previous.present? %>
        <%= link_to "< PREV", post_path(@post.previous), class: "btn btn-outline-primary btn-sm fw-bold mt-3"%>
      <% end %>
    </div>
    <div class>
      <% if @post.next.present? %>
        <%= link_to "NEXT >", post_path(@post.next), class: "btn btn-outline-primary btn-sm fw-bold mt-3"%>
      <% end %>
    </div>
  </div>

<!-- /PREV/NEXTボタン -->

<!-- /投稿メイン -->

<br><br>

<!-- 投稿内容詳細アコーディオン -->

  <div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">

      <!-- 撮影場所地図表示 -->
      <div class="accordion-item  text-center">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            撮影場所
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <% if @post.latitude.present? && @post.longitude.present? %>
              <div id='map'></div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /撮影場所地図表示 -->

      <!-- コメント表示 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            コメント 
            <% if @comments.present? %>
              <span>
                <%= @comments.count %>件
              </span>
            <% end %>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">

            <div class="container p-3 comments">
              <% if user_signed_in? && current_user.id != @post.user_id %>
                <%= form_with(model: @comment, url: post_comments_path(@post), local: true) do |f| %>
                  <div class="input-group mb-3">
                    <%= f.text_field :comment, id: "comment_content", class: "form-control", placeholder: "Comment" %>
                    <%= f.submit "Submit", class: "btn btn-secondary", id:"button-addon2" %>
                  </div>
                <% end %>
              <% end %>
              <ul class="list-group">
                <% @comments.each do |comment| %>
                  <li class="list-group-item">
                    <div class="container-sm text-left">
                      <div class="fw-bold">
                        <%= link_to "#{comment.user.nickname}", user_path(comment.user) %>
                      </div>
                      <div class=>
                        <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <%= comment.comment %>
                        </div>
                        <div>
                          <% if user_signed_in? && current_user.id == comment.user_id %>
                            <%= link_to post_comment_path(@post, comment), method: :delete do %>
                              <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- /コメント表示 -->


      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            作品詳細
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <div class="container">
              <div class="d-flex justify-content-around">
                <div class="mb-3">
                  <strong class="fs-5">カテゴリー</strong>
                    <div>
                      メインカテゴリー
                      <% if @post.category.root? %>
                        <%= link_to "#{@post.category.category_name}", category_path(@post.category), class:"text-decoration-none" %>
                      <% else %>
                        <%= link_to "#{@post.category.parent.category_name}", category_path(@post.category.parent), class:"text-decoration-none" %>
                      <% end %>
                    </div>
                    <div>
                      サブカテゴリー
                      <% if @post.category.parent.present? %>
                        <%= link_to "#{@post.category.category_name}", category_path(@post.category), class:"text-decoration-none" %>
                      <% end %>
                    </div>
                </div>
                <div class="mb-3">
                  <strong class="fs-5">タグ</strong>
                  <div>
                    <% @post.tags.each do |tag| %>
                      <%= link_to "##{tag.tag_name}", posts_path(tag_id: tag.id), class:"text-decoration-none" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- /投稿内容詳細アコーディオン -->

  <br>

<!-- Googlemapスクリプト -->

  <style>
  #map{
    height: 470px;
  }
  </style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()
  postLatlng = { lat: <%= @post.latitude.to_f %>, lng: <%= @post.longitude.to_f %> };

  map = new google.maps.Map(document.getElementById('map'), {
    center: postLatlng,
    zoom: 14,
  });

  marker = new google.maps.Marker({
    position: postLatlng,
    map: map
  });

}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<!-- /Googlemapスクリプト -->

</main>