<!DOCTYPE html>
<html>
  <head>
    <title>Snapspot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">
    <!-- コード追加 Font Awesome読み込みコード -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    
</head>

  <body>

    <header>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">
            <%= link_to image_tag("logo.png", style: "height:30px"), root_path %>
            <a class="navbar-brand" href="/">SnapSpot</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Most Viewed</a>
              </li>
              <li class="nav-item">
                <%= link_to "Tag List", tags_index_posts_path, class: "nav-link active" %>
              </li>
            </ul>
            <% if user_signed_in? %>
              <div class>
                <%= link_to "New Spot", new_post_path, class: "btn btn-success btn-sm my-2" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm my-2" %>
              </div>
            <% else %>
              <div class>
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-sm my-2" %>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary btn-sm my-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Discover, Capture, Share: Unveiling the World with SnapSpot</p>
      </div>
    </footer>

  </body>
</html>
